@model List<EicOpenDataViewer.Models.Recommendation>



@if (Model != null && Model.Count > 0)
{
    <h3>Recommendations</h3>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>LowEnergyFixedLightCount</th>
                <th>Address</th>
                <th>UprnSource</th>
                <th>FloorHeight</th>
                <th>HeatingCostPotential</th>
                <th>UnheatedCorridorLength</th>
                <th>HotWaterCostPotential</th>
                <th>ConstructionAgeBand</th>
                <th>PotentialEnergyRating</th>
                <th>MainheatEnergyEff</th>
                <th>WindowsEnvEff</th>
                <th>LightingEnergyEff</th>
                <th>EnvironmentImpactPotential</th>
                <th>GlazedType</th>
                <th>HeatingCostCurrent</th>
                <th>Address3</th>
                <th>MainheatcontDescription</th>
                <th>SheatingEnergyEff</th>
                <th>PropertyType</th>
                <th>LocalAuthorityLabel</th>
                <th>FixedLightingOutletsCount</th>
                <th>EnergyTariff</th>
                <th>MechanicalVentilation</th>
                <th>HotWaterCostCurrent</th>
                <th>County</th>
                <th>Postcode</th>
                <th>SolarWaterHeatingFlag</th>
                <th>Constituency</th>
                <th>Co2EmissionsPotential</th>
                <th>NumberHeatedRooms</th>
                <th>FloorDescription</th>
                <th>EnergyConsumptionPotential</th>
                <th>LocalAuthority</th>
                <th>BuiltForm</th>
                <th>NumberOpenFireplaces</th>
                <th>WindowsDescription</th>
                <th>GlazedArea</th>
                <th>InspectionDate</th>
                <th>MainsGasFlag</th>
                <th>Co2EmissCurrPerFloorArea</th>
                <th>Address1</th>
                <th>HeatLossCorridor</th>
                <th>FlatStoreyCount</th>
                <th>ConstituencyLabel</th>
                <th>RoofEnergyEff</th>
                <th>TotalFloorArea</th>
                <th>BuildingReferenceNumber</th>
                <th>EnvironmentImpactCurrent</th>
                <th>Co2EmissionsCurrent</th>
                <th>RoofDescription</th>
                <th>FloorEnergyEff</th>
                <th>NumberHabitableRooms</th>
                <th>Address2</th>
                <th>HotWaterEnvEff</th>
                <th>Posttown</th>
                <th>MainheatcEnergyEff</th>
                <th>MainFuel</th>
                <th>LightingEnvEff</th>
                <th>WindowsEnergyEff</th>
                <th>FloorEnvEff</th>
                <th>SheatingEnvEff</th>
                <th>LightingDescription</th>
                <th>RoofEnvEff</th>
                <th>WallsEnergyEff</th>
                <th>PhotoSupply</th>
                <th>LightingCostPotential</th>
                <th>MainheatEnvEff</th>
                <th>MultiGlazeProportion</th>
                <th>MainHeatingControls</th>
                <th>LodgementDatetime</th>
                <th>FlatTopStorey</th>
                <th>CurrentEnergyRating</th>
                <th>SecondheatDescription</th>
                <th>WallsEnvEff</th>
                <th>TransactionType</th>
                <th>Uprn</th>
                <th>CurrentEnergyEfficiency</th>
                <th>EnergyConsumptionCurrent</th>
                <th>MainheatDescription</th>
                <th>LightingCostCurrent</th>
                <th>LodgementDate</th>
                <th>ExtensionCount</th>
                <th>MainheatcEnvEff</th>
                <th>LmkKey</th>
                <th>WindTurbineCount</th>
                <th>Tenure</th>
                <th>FloorLevel</th>
                <th>PotentialEnergyEfficiency</th>
                <th>HotWaterEnergyEff</th>
                <th>LowEnergyLighting</th>
                <th>WallsDescription</th>
                <th>HotwaterDescription</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.LowEnergyFixedLightCount</td>
                    <td>@r.Address</td>
                    <td>@r.UprnSource</td>
                    <td>@r.FloorHeight</td>
                    <td>@r.HeatingCostPotential</td>
                    <td>@r.UnheatedCorridorLength</td>
                    <td>@r.HotWaterCostPotential</td>
                    <td>@r.ConstructionAgeBand</td>
                    <td>@r.PotentialEnergyRating</td>
                    <td>@r.MainheatEnergyEff</td>
                    <td>@r.WindowsEnvEff</td>
                    <td>@r.LightingEnergyEff</td>
                    <td>@r.EnvironmentImpactPotential</td>
                    <td>@r.GlazedType</td>
                    <td>@r.HeatingCostCurrent</td>
                    <td>@r.Address3</td>
                    <td>@r.MainheatcontDescription</td>
                    <td>@r.SheatingEnergyEff</td>
                    <td>@r.PropertyType</td>
                    <td>@r.LocalAuthorityLabel</td>
                    <td>@r.FixedLightingOutletsCount</td>
                    <td>@r.EnergyTariff</td>
                    <td>@r.MechanicalVentilation</td>
                    <td>@r.HotWaterCostCurrent</td>
                    <td>@r.County</td>
                    <td>@r.Postcode</td>
                    <td>@r.SolarWaterHeatingFlag</td>
                    <td>@r.Constituency</td>
                    <td>@r.Co2EmissionsPotential</td>
                    <td>@r.NumberHeatedRooms</td>
                    <td>@r.FloorDescription</td>
                    <td>@r.EnergyConsumptionPotential</td>
                    <td>@r.LocalAuthority</td>
                    <td>@r.BuiltForm</td>
                    <td>@r.NumberOpenFireplaces</td>
                    <td>@r.WindowsDescription</td>
                    <td>@r.GlazedArea</td>
                    <td>@r.InspectionDate</td>
                    <td>@r.MainsGasFlag</td>
                    <td>@r.Co2EmissCurrPerFloorArea</td>
                    <td>@r.Address1</td>
                    <td>@r.HeatLossCorridor</td>
                    <td>@r.FlatStoreyCount</td>
                    <td>@r.ConstituencyLabel</td>
                    <td>@r.RoofEnergyEff</td>
                    <td>@r.TotalFloorArea</td>
                    <td>@r.BuildingReferenceNumber</td>
                    <td>@r.EnvironmentImpactCurrent</td>
                    <td>@r.Co2EmissionsCurrent</td>
                    <td>@r.RoofDescription</td>
                    <td>@r.FloorEnergyEff</td>
                    <td>@r.NumberHabitableRooms</td>
                    <td>@r.Address2</td>
                    <td>@r.HotWaterEnvEff</td>
                    <td>@r.Posttown</td>
                    <td>@r.MainheatcEnergyEff</td>
                    <td>@r.MainFuel</td>
                    <td>@r.LightingEnvEff</td>
                    <td>@r.WindowsEnergyEff</td>
                    <td>@r.FloorEnvEff</td>
                    <td>@r.SheatingEnvEff</td>
                    <td>@r.LightingDescription</td>
                    <td>@r.RoofEnvEff</td>
                    <td>@r.WallsEnergyEff</td>
                    <td>@r.PhotoSupply</td>
                    <td>@r.LightingCostPotential</td>
                    <td>@r.MainheatEnvEff</td>
                    <td>@r.MultiGlazeProportion</td>
                    <td>@r.MainHeatingControls</td>
                    <td>@r.LodgementDatetime</td>
                    <td>@r.FlatTopStorey</td>
                    <td>@r.CurrentEnergyRating</td>
                    <td>@r.SecondheatDescription</td>
                    <td>@r.WallsEnvEff</td>
                    <td>@r.TransactionType</td>
                    <td>@r.Uprn</td>
                    <td>@r.CurrentEnergyEfficiency</td>
                    <td>@r.EnergyConsumptionCurrent</td>
                    <td>@r.MainheatDescription</td>
                    <td>@r.LightingCostCurrent</td>
                    <td>@r.LodgementDate</td>
                    <td>@r.ExtensionCount</td>
                    <td>@r.MainheatcEnvEff</td>
                    <td>@r.LmkKey</td>
                    <td>@r.WindTurbineCount</td>
                    <td>@r.Tenure</td>
                    <td>@r.FloorLevel</td>
                    <td>@r.PotentialEnergyEfficiency</td>
                    <td>@r.HotWaterEnergyEff</td>
                    <td>@r.LowEnergyLighting</td>
                    <td>@r.WallsDescription</td>
                    <td>@r.HotwaterDescription = hotwaterDescription
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No recommendations found for the certificate</h3>
}

